@charset "utf-8";

.wf-nunito {
  @extend %webfont-nunito;
}

.wf-lato {
  @extend %webfont-lato;
}

#logo {
  &.rere {
    @extend %webfont-lato;
    max-width: 75%;
    max-height: 50px;

    .h1.text {
      font-size: 1.6em;

      a {
        margin: auto;
        padding: 2.5% 0;
      }
    }
  }
}

.re-gallery {
  figure {
    margin: 0 0 2em 0;

    a {
      img {
        margin: 0;
      }
    }

    figcaption {
      display: none;
    }
  }
}

// the_content()のsection
.entry-content {
  // PhotoSwipeDOM
  .psgal {
    // 読み込み完了前は少し薄くする
    opacity: 0.7;

    .loaded & {
      opacity: 1;
    }

    @include mediaquery('max', 340px) {
      width: 300px !important;
    }

    figure {
      @include mediaquery('max', 340px) {
        width: 100% !important;
      }
    }

    figcaption {
      display: none;
    }
  }
}

// Singleのカテゴリ調整
#container {
  .entry-header {
    .byline {
      .cat-name {
        position: static;
        left: inherit;
        top: inherit;
        transform: none;
      }
    }
  }
}
