@charset "utf-8";

.wf-nunito {
  @extend %webfont-nunito;
}

.webfont {
  &.nunito {
    @extend %webfont-nunito;
  }
}

#logo {
  &.rere {
    @extend %webfont-nunito;
  }
}

.re-gallery {
  figure {
    margin: 0 0 2em 0;

    a {
      img {
        margin: 0;
      }
    }

    figcaption {
      display: none;
    }
  }
}

// the_content()のsection
.entry-content {
  // PhotoSwipeDOM
  .psgal {
    @include mediaquery('max', 340px) {
      width: 300px !important;
    }

    figure {
      @include mediaquery('max', 340px) {
        width: 100% !important;
      }
    }

    figcaption {
      display: none;
    }
  }
}
